/* PARENT BUTTON (Reusable Components) */
.button {
  width: 142px;
  height: 53px;
  margin-left: 50px;
  background: #e2b887;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: -0.5rem;
}

.button:hover {
  background-color: #ffffff;
}
